@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jq0zd7');
  src:  url('../fonts/icomoon.eot?jq0zd7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jq0zd7') format('truetype'),
    url('../fonts/icomoon.woff?jq0zd7') format('woff'),
    url('../fonts/icomoon.svg?jq0zd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-circle-minus:before {
  content: "\e905";
}
.icon-circle-plus:before {
  content: "\e908";
}
.icon-code:before {
  content: "\e909";
}
.icon-copy:before {
  content: "\e90a";
}
.icon-cross:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-github1:before {
  content: "\e90d";
}
.icon-globe:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-link1:before {
  content: "\e916";
}
.icon-linkedin1:before {
  content: "\e917";
}
.icon-mail:before {
  content: "\e918";
}
.icon-menu:before {
  content: "\e919";
}
.icon-menu2:before {
  content: "\e91a";
}
.icon-minus:before {
  content: "\e91b";
}
.icon-mr-logo:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-share:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}
.icon-location:before {
  content: "\e901";
}
.icon-earth:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e90f";
}
.icon-wordpress:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e911";
}
.icon-linkedin2:before {
  content: "\e912";
}
